{% extends "layout.html" %}
{% block content %}
<style>
            .datepicker.dropdown-menu {
                z-index: 9999 !important;
            }
    </style>
    <section style="margin-bottom: 30px;margin-top: 30px;">
        <h2 class="text-center" style="color: rgb(47,89,37);font-weight: 600;font-family: Acme;line-height: 0.6;">Set Billing Month</h2>
        <div class="table-responsive" style="font-size: 12px;">
            <table class="table table-bordered" id="billing_month_table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Billing Month</th>
                        <th scope="col">Billing From Date</th>
                        <th scope="col">Billing To Date</th>
                        <th scope="col">Current Billing Month</th>
                        <th scope="col">Created By User</th>
                        <th scope="col">Created Date</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="text-align: right;padding: 15px;">
            <button class="btn btn-default" type="button" style="margin-right: 20px;" onclick="window.history.back()">Cancel</button>
            <button class="btn btn-success" type="button" id = "btnSave" style="margin-right: 10px;" onclick="ShowConfirmModal()">Save</button>
        </div>
    </section>

    <div class="modal fade" id="confirm_modal" role="dialog" style="text-align: center">
        <div class="modal-dialog"  style="max-width: 400px;">
            <div class="modal-content" style="padding: 10px;">
                <h2 style="text-align: center;font-family: 'Acme';color: rgb(47,89,37);margin-bottom: 20px;">Are you sure?</h2>
                <h3 style="text-align: center;font-family: 'Acme';color: rgb(47,89,37);margin-bottom: 20px;">Billing month setting will be updated.</h3>
                <div style="text-align: right; padding: 15px; margin-right: 10px;">
                    <button class="btn btn-default" type="button" style="margin-right: 20px;" onclick="hideConfirmModal()">Cancel</button>
                    <button class="btn btn-success" type="button" onclick="onBtnSave()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <style>
        .table-responsive {
            overflow: visible !important;
        }
        /*div.datepicker {
            box-shadow:3px 3px  3px darkgray;
        }
        td.day.disabled {
            color: darkgrey;
        }
        */
    </style>
    <script>
       var savedRow = [];
        var billingMonthTable;
        var editRow = 0;
        var rowIndex = 0, id;
        
        function convertDateToString( userDate ) {
            var date    = new Date(userDate),
                yr      = date.getFullYear(),
                month   = date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth(),
                day     = date.getDate()  < 10 ? '0' + date.getDate()  : date.getDate(),
                newDate = yr + '-' + month + '-' + day;
            return newDate;
        }

        $(document).ready(function () {
            billingMonthTable = $('#billing_month_table').DataTable( {
                pagingType : "first_last_numbers",
                //processing : true,
                ajax: {
                    url :'/admin/billing_month/billing_month_table',
                },
                initComplete: function( settings, json ) {
                    var data = json.data;
                    savedRow = [];
                    var i;
                    for( i = 0; i < data.length; i++ ) {
                        savedRow.push(false);

                        var tomorrow = new Date()
                        tomorrow.setDate(tomorrow.getDate()+1);
                        var defaultDate = new Date(data[i].BillingFromDate);
                        $('#month_from_'+data[i].id).datetimepicker({
                            //viewMode: 'years',
                            format:'DD/MMM/YYYY',
                            ignoreReadonly: true,
                            minDate : defaultDate,
                            defaultDate: defaultDate,
                            ignoreReadonly: true
                        });
                        //var date_from = new Date($('#month_from_'+data[i].id).data().date);
                        //var min_to_date = tomorrow > date_from ? tomorrow : date_from;
                        var min_to_date = new Date(defaultDate);
                        min_to_date.setDate( defaultDate.getDate() + 14);
                        defaultDate = new Date(data[i].BillingToDate);
                        $('#month_to_' + data[i].id).datetimepicker({
                            //viewMode: 'years',
                            format:'DD/MMM/YYYY',
                            ignoreReadonly: true,
                            minDate : min_to_date,
                            defaultDate: defaultDate,
                            ignoreReadonly: true
                        });

                        $("#month_from_" + data[i].id).on("dp.change", function (e) {
                            data = billingMonthTable.data();
                            var fromeDate = new Date(e.date);
                            var toDate = new Date();
                            toDate.setDate(fromeDate.getDate() + 14);
                            $('#month_to_' +id).data("DateTimePicker").minDate(toDate);
                
                            data[rowIndex].BillingFromDate = convertDateToString(fromeDate);
                            data[rowIndex].BillingToDate = convertDateToString(toDate);
                            savedRow[rowIndex] = true;
                            billingMonthTable.$('td', rowIndex).addClass("alert-info");
                        });
                
                        $("#month_to_" + data[i].id).on("dp.change", function (e) {
                            var toDate = new Date(e.date);
                            data = billingMonthTable.data();
                            data[rowIndex].BillingToDate = convertDateToString(toDate);
                            savedRow[rowIndex] = true;
                            billingMonthTable.$('td', rowIndex).addClass("alert-info");
                        });
                    }
                    return data;
                },
                columns: [
                    { data: 'id' },                     // 1
                    { data: 'BillingMonth' },           // 2
                    { data: 'PickerFromDate' },         // 3
                    { data: 'PickerToDate' },           // 4
                    { data: 'ChkCurrBillingMonth' },    // 5
                    { data: 'CreatedByUser' },          // 6
                    { data: 'CreatedDate' }             // 7
                ]
			});
			$('.dataTables_length').addClass('bs-select');

            $('input[type="search"]').click( function () {
                initEditRow();
            } );

            $(billingMonthTable.table().body()).on('click', 'tr', function () {
                editRow = $(this).closest("tr").off("mousedown");
                var indexes = billingMonthTable.rows( {search:'applied'} ).indexes();
                var pageInfo = billingMonthTable.page.info();
                rowIndex = indexes[pageInfo.page*pageInfo.length+editRow.index()];
                
                var $td_id = editRow.find("td:nth-child(1)");
                id = $td_id.html();
            });
        });

        function CheckCurrBillingMonth() {
            billingMonthTable.data(0)[rowIndex].CurrBillingMonth = $("#curr_"+id).is(':checked');
            savedRow[rowIndex] = true;
            billingMonthTable.$('td', rowIndex).addClass("alert-info");
        }

        function showBillingMonthTable() {
            billingMonthTable.ajax.reload();
            billingMonthTable.draw();
		}

        function ShowConfirmModal() {
            $("#confirm_modal").modal('show');
        }

        function hideConfirmModal() {
            $("#confirm_modal").modal('hide');
        }

        function onBtnSave() {
            hideConfirmModal();
            var sendData = [];
            var tableData = billingMonthTable.data(0);
            for( i = 0; i < tableData.length; i++ ) {
                if( savedRow[i] ) {
                    sendData.push(tableData[i]);
                }
            }

            $.ajax({
                type: "POST",
                url: "/admin/billing_month/set_billing_month",
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data : JSON.stringify({
                    sendData: sendData
                }),
                success: function(data){alert("success");},
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });
        }
    </script> 

{% endblock %}
